// Device widths
$device-lg: 1024px;
$device-md: 768px;
$device-sm: 442px;

// Text colors
$primary-text-color: #fff;
$secondary-text-color: #000;

// Elements sizes
$navbar-icon-size: 30px;
$footer-height: 200px;
$sm-btn-size: 40px;
$content-max-width: 1070px;
$search-bar-large-box: 150px;
$search-bar-small-box: 80px;
